html,
body {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background: white;
    padding: 20px;
    padding-bottom: 40px;
}

nav ul {
    color: #000;
    text-align: center;
    border: 3px solid white;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
    list-style: none;
    padding-left: 10%;
    top: 20%;
}

nav ul li a {
    display: block;
    padding: 0px;
    color: #770b41;
    width: 100px;
    text-decoration: none;
}

.form-text {
    margin-top: 30px;
}

.login_box {
    background-color: mintcream;
    width: 500px;
    border-radius: 5px;
    height: 700px;
}

h1 {
    margin: 0;
    padding: 0 0 20;
    text-align: center;
    font-size: 25px;
    font-stretch: expanded;
    font-weight: bold;
    font-style: normal;
    color: tomato;
}

.input-full #records {
    border-radius: 5px;
    width: 70%;
    padding: 8px;
}

.input-full #location {
    border-radius: 5px;
    width: 70%;
    padding: 8px;
}

.input-full #title {
    border-radius: 5px;
    width: 70%;
    padding: 8px;
}

.input-full #date {
    border-radius: 5px;
    width: 70%;
    padding: 8px;
}

.input-full #message {
    border-radius: 5px;
    width: 70%;
    padding: 8px;
}

.divider {
    border: 1px solid tomato;
    width: 300px;
}

.login_box button.submit {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
    width: 50%;
    margin-bottom: 20px;
}

.login_box button.submit:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.signupText {
    text-decoration: none;
    color: slateblue;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.signupText:hover {
    color: #39dc79;
}